<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>New person</title>-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash;<form th:method="POST" th:action="@{/people}" th:object="${manufacture}">&ndash;&gt;-->
<!--&lt;!&ndash;    <label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" th:field="*{name}" id="name"/>&ndash;&gt;-->
<!--&lt;!&ndash;    </label>&ndash;&gt;-->
<!--&lt;!&ndash;    <label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" th:field="*{address}" id="address"/>&ndash;&gt;-->
<!--&lt;!&ndash;    </label>&ndash;&gt;-->
<!--&lt;!&ndash;    <br/>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="submit" value="Create!"/>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--<form method="post" action="/people">-->
<!--    <label>-->
<!--        <input type="text" name="name" placeholder="Название производства...">-->
<!--    </label>-->
<!--    <label>-->
<!--        <input type="text" name="address" placeholder="Адрес производства...">-->
<!--    </label>-->
<!--    <label>-->
<!--        <input type="text" name="firstName" placeholder="Имя...">-->
<!--    </label>-->
<!--    <label>-->
<!--        <input type="text" name="lastName" placeholder="Фамилия...">-->
<!--    </label>-->
<!--    <label>-->
<!--        <input type="text" name="middleName" placeholder="Отчество...">-->
<!--    </label>-->
<!--    <button type="submit">Добавить новое человека</button>-->
<!--</form>-->

<!--&lt;!&ndash;<form method="post" action="/people">&ndash;&gt;-->
<!--&lt;!&ndash;    <label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" name="name" placeholder="Название производства...">&ndash;&gt;-->
<!--&lt;!&ndash;    </label>&ndash;&gt;-->
<!--&lt;!&ndash;    <label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" name="address" placeholder="Адрес производства...">&ndash;&gt;-->
<!--&lt;!&ndash;    </label>&ndash;&gt;-->
<!--&lt;!&ndash;    <button type="submit">Добавить новое произодство</button>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->